[Unit]
Description=Secret server

[Service]
Type=simple
ExecStart=/bin/bash -ce "{PATH TO BIN} -c {PATH TO CONF}"
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target